<html>
  <head>
    <meta charset='utf-8' />
    <title>App - View Project Page</title>
    <link rel='stylesheet' href='/main.css' />
  </head>
  <body>
    <main>
      {{#with project}}
        <header>
          <h1>{{name}}</h1>
          <a href='/'>Back</a>
        </header>

        <div>
          <a href='/edit/{{id}}'>Edit</a>
          <form action='/project/{{id}}' method='post'>
            <input type='hidden' name='_method' value='delete' />
            <input type='submit' value='delete' />
          </form>
        </div>
        <main>
          <article>
            <div class='project__heading'>

            </div>

            <div class='project__metadata'>
              Status:
              {{status}}
              {{#if dueDate}}
                <p>Due by: {{dueDate}}</p>
              {{/if}}
            </div>

            {{#if description}}
              <p>{{description}}</p>
            {{/if}}
          </article>
        </main>
      {{/with}}
    </main>
  </body>
</html>
